@media (min-width:320px) and (max-width:425px) {
    .bottom_footer{
        visibility: visible;
    }
    .Loginpage_container{
        flex-direction: column;
    }
   .Navbar_links{
    display: none;
   }
  
}