@media (min-width:320px) and (max-width:425px) {
    .bottom_footer {
        visibility: visible;
    }

    .Loginpage_container,
    .PersonalDetails_container>ul,
    .Mailverfication_container {
        flex-direction: column;
    }

    .Navbar_links {
        display: none;
    }

    .Chooseuser_boxes {
        flex-direction: column;

        padding: 0 30px;
    }

    .Banner_container {
        height: 560px;
        background-color: #939393;
    }

    .socialmedia_container {
        justify-content: space-between;
    }

    .socialmedia_container>span {
        margin: 0;
    }
    .Chooseuser_boxes>div{
        margin: 0 0;
    }
    .Weekavail_container>div:nth-child(2){
      justify-content: center;
    }
    .Profile_headings::after{
        left: 4%;
    }
    .Profileswiper>.swiper-wrapper>.swiper-slide>img{
        object-fit: fill;
    }
    .CustomerRegisteration_container, #multi-step-form-container {
        padding: 0;
    }
    .Agencyprofile_card>.card-body {
        padding-top: 65px;
    }
    .Agencyprofile {
        top: 38%;
    }
    .mySwiper{
        padding-bottom: 10% !important;
    }
   
    .Profile_topsection{
        flex-direction: row;
    }
    .Gallery_cards>div{
        width: 40%;
    }
}